<div>
  <button ng-show="!filename && !uploading" class="btn btn-primary upload-btn" type="button">
    <span>Upload Image / Video</span>
    <i class="fa fa-cloud-upload"></i>
  </button>
  <div ng-if="uploading" class="progress multi-panel">
    <div class="filename">{{ filename }}</div>
    <div class="progress-bar progress-bar-striped" ng-class="{active: uploading}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;" ng-class="barClass()">
      <span class="sr-only">{{progress}}% Complete</span>
    </div>
  </div>
  <input type="file" accept="{{acceptedFormats()}}" style="display: none"/>
</div>
