<div>
  <button ng-show="!filename && !uploading" class="btn btn-primary" type="button"><span >Upload Image / Video</span></button>
  <div ng-if="uploading" class="progress multi-panel">
    <div class="filename">{{ filename }}</div>
    <div class="progress-bar progress-bar-striped" ng-class="{active: uploading}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%; margin-top: 10px" ng-class="barClass()">
      <span class="sr-only">{{progress}}% Complete</span>
    </div>
  </div>
  <div ng-if="success" class="uploaded-file multi-panel">
    <a class="btn btn-default" href="#" title="Delete Content" alt="Delete Content" ng-click="deleteContent(contentId)">
      <i class="fa fa-times">
    </a>
    <img ng-if="filetype == 'image'" ng-src="{{ trustUrl(filename) }}"></img>
    <video ng-if="filetype == 'video'" ng-src="{{ trustUrl(filename) }}" controls></video>
  </div>
  <input type="file" accept="{{acceptedFormats()}}" style="display: none"/>
</div>
